<div class="container" ng-controller="ListUserController">
	<h2 class="text-muted">Users</h2>

	<table class="table table-striped">
	  <thead>
	  	<tr>
	  		<th>User</th>
	  		<th></th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-show="{{Users.length == 0}}">
	  		<td colspan="2">
	  			There are currently no users.  <a ui-sref="user.add">Add one now!</a>
	  		</td>
	  	</tr>
	  	<tr ng-repeat="user in Users">
	  		<td>
	  			{{ user.firstName + ' ' + user.lastName }}
	  		</td>
	  		<td>
	  			<a ui-sref="user.edit({id: $index})">Edit</a> | <a ng-click="deleteUser()">Delete</a>
	  		</td>
	  	</tr>
	  </tbody>
	</table>
</div>
