<div class="container main-nav" data-ng-controller="NavController">
  <ul class="nav nav-pills">
    <li ui-sref-active="active"><a ui-sref="user.list">View Users</a></li>
    <li ui-sref-active="active"><a ui-sref="user.add">Add User</a></li>
  </ul>
</div>

<div class="container notification-bar">
  <notificationbar>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{ alert.message }}</alert>
  </notificationbar>
</div>

<div class="container" ui-view></div>