<div class="container">
	<h2 class="text-muted">{{ formType }} User</h2>

	<form action="" name="userForm" novalidation ng-submit="formSubmit()">
		<div class="form-group" ng-class="{'has-error': userForm.firstName.$invalid && !userForm.firstName.$pristine}">
			<label for="firstName">First Name</label>
			<input class="form-control" type="text" name="firstName" placeholder="Enter First Name.." 
				ng-model="user.firstName"
				ng-maxlength="10"
				ng-minlength="4"
				required>
			<p class="text-danger" 
				ng-show="userForm.firstName.$error.required && !userForm.firstName.$pristine">First Name is required!</p>
			<p class="text-danger" 
				ng-show="userForm.firstName.$error.minlength && !userForm.firstName.$pristine">First Name must be at least 4 characters!</p>
			<p class="text-danger" 
				ng-show="userForm.firstName.$error.maxlength && !userForm.firstName.$pristine">First Name cannot be longer than 10 characters!</p>
		</div>

		<div class="form-group" ng-class="{'has-error': userForm.lastName.$invalid && !userForm.lastName.$pristine}">
			<label for="lastName">Last Name</label>
			<input class="form-control" type="text" name="lastName" placeholder="Enter Last Name.." 
				ng-model="user.lastName"
				ng-maxlength="10"
				ng-minlength="4"
				required>
			<p class="text-danger" 
				ng-show="userForm.lastName.$error.required && !userForm.lastName.$pristine">Last Name is required!</p>
			<p class="text-danger" 
				ng-show="userForm.lastName.$error.minlength && !userForm.lastName.$pristine">Last Name must be at least 4 characters!</p>
			<p class="text-danger" 
				ng-show="userForm.lastName.$error.maxlength && !userForm.lastName.$pristine">Last Name cannot be longer than 10 characters!</p>
		</div>

		<div class="form-group">
			<button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid || userForm.$pristine">{{ submitMessage }}</button>
		</div>
	</form>
</div>
